<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="ref.User" name="u1">
		<property name="id" value="1"/>
		<property name="name" value="java"/>
		<property name="address" ref="a1"/> 
	</bean>
	<bean class="ref.Address" name="a1">
		<property name="hno" value="101"/>
		<property name="street" value="market road"/>
	</bean>
	<bean class="ref.Address" name="a2">
		<property name="hno" value="102"/>
		<property name="street" value="market road"/>
	</bean>

</beans>
